# Ignore Python virtual environment
venv_income_api/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
venv_income_api/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment/IDE files
.vscode/
.env

# OS-specific files
.DS_Store
Thumbs.db

# Ignore model artifacts if necessary
*.pkl
*.joblib