# Virtual environments
.venv/
venv/
env/
venv_income_api/

# Byte-compiled / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Secrets
.env
.env.*

# Build / metadata
*.so
**/*.dist-info/
**/*.egg-info/
dist/
build/
.eggs/

# Model artifacts
*.pkl
!model/income_pipeline.pkl 
*.joblib

